<h2>Stations within 6 miles:</h2>

<% facade.stations.map do |station| %>
<section class='station'>
	<div class='name'>
		<%= station.name %>
	</div>
	<div class='address'>
		<%= station.address %>
	</div>
	<div class='fuel_types'>
		<%= station.fuel_types %>
	</div>
	<div class='distance'>
		<%= station.distance %>
	</div>
	<div class='access_times'>
		<%= station.access_times %>
	</div>
</section>
<% end %>
