<h2>Stations within 6 miles:</h2>

<% facade.stations.map do |station| %>
<section class='station'>
	<div class='name'>
		<p>Station: <%= station.name %></p>
	</div>
	<div class='address'>
		<p>Address: <%= station.address %></p>
	</div>
	<div class='fuel_types'>
		<p>Fuel Types: <%= station.fuel_types %></p>
	</div>
	<div class='distance'>
		<p>Distance: <%= station.distance %></p>
	</div>
	<div class='access_times'>
		<p>Access Times: <%= station.access_times %></p>
	</div>
	<br>
</section>
<% end %>
